/*

   DEBUG GRID

   Can be useful for debugging layout issues
   or helping to make sure things line up perfectly.
   Just tack one of these classes onto a parent element.

*/

/* variables */
:root {

  --lightest-blue: #cdecff;
  --white: #fff;

}

.debug-grid {
  background-image:
    repeating-linear-gradient(to right, transparent, transparent 7px, var(--lightest-blue) 8px),
    repeating-linear-gradient(to bottom, transparent, transparent 7px, var(--lightest-blue) 8px);
}

.debug-grid-16 {
  background-image:
    repeating-linear-gradient(to right, transparent, transparent 15px, var(--lightest-blue) 16px),
    repeating-linear-gradient(to bottom, transparent, transparent 15px, var(--lightest-blue) 16px);
}

.debug-grid-8-solid {
  background-image:
    repeating-linear-gradient(to right, var(--white), var(--white) 7px, var(--lightest-blue) 8px),
    repeating-linear-gradient(to bottom, var(--white), var(--white) 7px, var(--lightest-blue) 8px);
}

.debug-grid-16-solid {
  background-image:
    repeating-linear-gradient(to right, var(--white), var(--white) 15px, var(--lightest-blue) 16px),
    repeating-linear-gradient(to bottom, var(--white), var(--white) 15px, var(--lightest-blue) 16px);
}
